body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #ffcc00;
    background: url("../images/harikabkgd.jpg");
  }
  
  .bracket {
    width: 28%;
    height: 85%;
    margin-top: 145px;
  }
  
  /* general */
  
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
   
  }

.card{
  font-size: 20px;
  background-image: url("../images/harikabkgd.jpg");
  color: white;
  
}


  p {
    margin-bottom: 20px;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
 

  h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #ffcc00;
    font-size: 22px;
  }
  
  h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #dddddd;
    color:#ffcc00;
  }
  

  
 .curly-bracket{
   float: left;
   width: 300px;
   length: 700;
 }
  /* header */
  
  #masthead {
  
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffcc00;
    background: #ffcc00;
    border-bottom: 2px solid #cccccc;
  }
  
  #logo {
    float: left;
    width: 375px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #ffcc00;
  }
  
  nav {
    float: right;
    margin-top: 25px;
  }
  
  nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: black;
    text-decoration: none;
    border-left: 1px solid #efefef;
  }
  
  nav a:first-child {
    border-left: 0 none;
  }
  
  /* footer */
  
  footer {
   position: relative;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #ffcc00;
    height: 50px;
  }
  
  h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eeeeee;
  }
  
  /* main */
  
  #main-container {
    padding-top: 20px;
    min-height: calc(100vh - 70px);
  }
  
  .py-3 {
    
    width:69%;
    max-width: 960px;
    padding: 30px;
    padding-top: 34px;
    margin-top: 36px;
    background-image: url("../images/vine.jpg");
    border-image-repeat: stretch;
    border: 1px solid #dddddd;
  }
  
  /* portfolio page */
  
  .work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work{
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    border-bottom: 0;
  }
  
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }
  
  /* contact page */
  
  #contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background:#ffcc00;
    border: 0 none;
  }

    @media screen and (max-width: 320px) {
      body {
        background-color: #333;
      }
    
      .wrapper {
        /* Box-model */
        width: 100%;
        padding: 20px;
      }
    
      #main-content,
      #sidebar {
        width: 100%;
      }
    
      #sidebar {
        margin-top: 40px;
      }
    
    
    /* Width at 168px and below */
    @media screen and (max-width: 168px) {
      body {
        background-color: #333;
      }
    
      .wrapper {
        /* Box-model */
        width: 100%;
        padding: 20px;
      }
    
      #main-content,
      #sidebar {
        width: 100%;
      }
    
      #sidebar {
        margin-top: 40px;
      }
 @media screen and (max-width: 168px) {
      body {
        background-color: #333;
      }
    
      .wrapper {
        /* Box-model */
        width: 100%;
        padding: 20px;
      }
    
      #main-content,
      #sidebar {
        width: 100%;
      }
    
      #sidebar {
        margin-top: 40px;
      }

  }
